/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
* additional css styles
*/
.wrapper {
  padding: 30px;
}
.wrapper img {
  height: 60%;
  width: 60%;
  object-fit: cover;
}
.wrapper form div {
  padding: 10px 0 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper form button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border-radius: 0px;
}
.wrapper form div input {
  margin-top: 2px;
  padding: 10px;
  width: 100%;
}
body h3 {
  margin-bottom: 2px;
}
.navbar-brand a {
  color: #ffffff;
}
.form-wrapper,
.table-wrapper {
  max-width: 500px;
  margin: 0 auto;
}
.table-wrapper {
  max-width: 700px;
}
.edit-link {
  padding: 7px 10px;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
.edit-link:hover {
  text-decoration: none;
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}